<!DOCTYPE html>
<html>
	<%- include('./partials/head',{
		title : 'Home'
	}) %>
	<body>
		<div class="container"> <!-- Contenedor ppal -->
			<%- include('./partials/header') %>
			<main> <!-- Cuerpo principal del sitio -->
				<section class="row row-gap-2"><!-- Contenedor de todos los productos -->
					
					<% products.forEach(({id, image, title}) => { %>
						<div class="col-12 col-md-6">
							<article class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-12 col-lg-4 d-flex justify-content-center align-items-start">
											<img class="img-fluid" style="height: 300px; object-fit: contain;"                  src="<%= /(?:https?):\/\/(\w+:?\w*)?(\S+)(:\d+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/.test(image) ? image : `/images/${image}`%>"
											alt="">
										</div>
										<div class="col-12 col-lg-8 p-2">
											<h2 class="name"><%= title %></h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
											<a class="more" href="/products/<%= id %>">ver más</a>
										</div>

									
									</div>
									
								</div><!-- Contenedor de cada producto -->
								
							</article>
						</div>
						
					<% }) %>
					
				
				</section>
				
			</main>
		</div>

	</body>
</html>